img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.fruit-button {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}

.fruit-body {
    display: flex;
    flex-direction: row;
}

.fruit-description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.fruit-description > ul {
    padding-left: 0;
}

.fruit-description > ul li {
    padding-left: 20px;
    list-style-type: none;
}